*{
    padding: 0;
   margin: 0;
   box-sizing: border-box;
}

a{
    text-decoration: none;
}
button::-moz-focus-inner{
    padding: 0;
    border: 0;
}

label{
    cursor: pointer;
}


legend{
    display: block;
}

body{
font-family: "Slabo 27px", serif;

}




.header{
   
  width: 100%;
  padding: 40px 15px  50px 15px ;
 background: linear-gradient(92.7deg, #4cb8c4 0%, #000 100%), #232323;
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-bottom: 30px;
}

.title{
font-weight: 700;
font-size: 44px;
line-height: 52px;
color: #fff;
margin-bottom: 20px;
}

.form{
  display: flex;
  background-color: #fff;
  border-radius: 6px;
  max-height:  54px;
  max-width: 460px;

}

.input{
 color: #000;
 font-weight: 300;
 font-size: 20px;
 line-height: 1;
 padding: 15px;
 border: none;
}

.button{
  width: 145px;
  height: 54px;
  background-color: #398992;
  border-radius: 6px;
  color: #b3cfe1;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  border: none;
  transition: 250ms;
}


.button:hover{
    background-color: #5cacb5;
}


/* ============================= */

.card{
padding: 30px;
background-color: #b9cad5;
box-shadow: 0px 5px 20px rgb(167, 198, 207);
width: 360px;
max-height: 266px;
margin: 0 auto;
position: relative;
display: flex;
flex-direction: column;
gap: 20px;
margin-bottom: 30px;
}

.city-name{
 font-weight: 700;
 font-size: 28px;
 line-height: 33px;
}

.country-label{
    color: #fff;
    max-height: 18px;
    font-size: 16px;
    padding: 3px 5px ;
background-color: #398992;
    border-radius: 6px;
    line-height: 0;
    font-family: 400;
    box-shadow: 1px 1px 0px rgb(75, 111, 121);
    vertical-align: top ;
}

.wrapper{
    display: flex;
    justify-content:space-between;
    align-items: center;


}

.weather-value{
font-size: 92px;
text-align: center;

}

.degree{
    font-size: 50px;
    vertical-align: top;
}

.card-img{
 width: 126px;
 height: 120px;
}

.weather-description{
font-size: 20px;
}


.card::before{
    content: "";
    max-height: 266px;
    width: 340px;
    background-color: #a8b9c6;
    display: block;
    position: absolute;
    z-index: -1;
    left: 10px;
   top: 10px;
    width: calc(100% - 20px);
    box-shadow: 0px 5px 20px rgb(75, 111, 121);
    border-radius: 6px;
}