*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
}


.output{
    display: flex;
    width: 500px;
    height: 70px;
    background-color: rgb(0, 0, 0);
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
}


.background{
    color: #fff;
}

.color{
  color: #49a6e9;  
}

.changer-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: rgb(102, 163, 163);
    width: 150px;
    height: 50px;
    border-radius: 15px;
    color: azure;
    cursor: pointer;
    outline: none;
}

.changer-button:hover{
    background-color: rgb(157, 179, 179);

    border: 1px solid azure;
transition: background-color 200ms ease-in, border 400ms ease-in;
}