*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.img{
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background-image: url('./67eca179a9b95.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    font-family: "Slabo 27px", serif;
    margin: 0 auto;
    font-size: 100px;
    font-weight: 700;
    letter-spacing: 0.3ch;
    background: linear-gradient(90deg, #fae43c, #5f27cd, #fae43c);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;


}

.count-container{
    margin: 0 auto;
    display: flex;
    gap: 150px;
    text-align: center;
}

.date{
    padding: 15px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-self: center;
    align-items:center;
    flex-direction: column;
    background: linear-gradient(90deg, #5f27cd, #897c17);
        -webkit-background-clip: odjact;
        
}


.text{
font-family: "Slabo 27px", serif;
    z-index: 5;
  color: black;
  font-size: 20px;
  font-weight: 400;
}


.number{
font-family: "Bitcount Single", system-ui;
color: rgb(199, 104, 22);

font-size: 24px;
}